#pretraga {
	float: right;
	width: 50%;
	
}


.za_admina 
{
	font-size: 20px;
	text-align: center;
	background-color: rgba(157, 159, 157, 0.7);
	float: left;
	width: 20%;
	height: 50%;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	
	
}

.za_admina li a
{
	color: white;
	
	
}

#adminovo li a:hover {
    background-color: #000;

}


#adminovo
{
	
	width: 85%;
	float: left;
	background-size: cover;
	background: rgba(157, 159, 157, 0.7);
	text-decoration: none;
	text-decoration: none;
	list-style: none;
	color: #ffffff;
	text-align: left;
}
#adminovo>li
{
	margin-bottom: 12%;
	
}

body {
	margin: 0px;
	background-color: #c0dfd9;
}

#container {
	width: 1000px;
	min-width: 100%;
}

#naslov {
	color: white;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background: #173e43;
	padding: 5px;
	font-size: 100%;
}

.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: #64706c;
}

.lista li {
    float: left;
	border-right: 2px solid #bbb;
}

.lista li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lista li a.selektovan {
    background-color: #a00;
}

.lista li a:hover, .dropdown:hover {
    background-color: #000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #64706c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.tekst_1, .novosti_1 {
	float: left;
	width: 70%;
	margin: 1%;
	font-size: 100%;
	text-align: justify;
}

.tekst2_1 {
	float: left;
	width: 90%;
	border: 4%;
	font-size: 100%;
	text-align: justify;
}

.ocjenjivanje_1 {
	float: right;
	width: 16%;
	margin: 1%;
	background-color: #a0bfb9;
	border: solid black;
	padding: 2%;
}

input, textarea {
	max-width: 100%;
}

.tekst_2 {
	float: left;
	width: 95%;
	margin: 1%;
	font-size: 110%;
	text-align: justify;
}

.slika1_2 {
	float: left;
	width: 48%;
	margin: 1%;
	font-size: 100%;
	text-align: justify;
}

.slika2_2 {
	float: right;
	width: 48%;
	margin: 1%;
	font-size: 100%;
	text-align: justify;
}

.drugiRed_2 {
	float: left;
}

.slike_2 {
	height: 250px;
	width: 360px;
	max-width: 95%;
}

#h3_3 {
	padding-left: 15px;
}

#tabela_3 {
	overflow-x: auto;
	padding: 15px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
    background-color: LightCoral;
    color: white;
}

th, td {
    padding: 10px;	
	text-align: center;
}

.klasa0 {
	background-color: Teal;
	color:white; 
}

.klasa1 {
	background-color: DarkRed;
	color:white; 
}

.login_4, .registracija_4 {
	float: right;
	width: 30%;
	margin-right: 30%;
	margin-top: 5%;
	background-color: #a0bfb9;
	text-align: justify;
	border: solid black;
	padding: 8%;
	padding-left: 12%;
}

#za_reg, #za_log {
	float: right;
	color: green;
	padding: 0%;
	margin: 0%;
}

.tekst_5 {
	float: left;
	width: 74%;
	margin: 1%;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.kontaktiranje_5 {
	float: right;
	width: 16%;
	margin: 1%;
	background-color: #a0bfb9;
	border: solid black;
	padding: 2%;
}

/* Za male ekrane povećavamo veličinu teksta i malo redizajniramo izgled taba O nama */
@media screen and (max-width: 666px) {
.lista li a {
	font-size: 130%;
}

.ocjenjivanje_1 {
	font-size: 120%;
}

.tekst_2 {
	font-size: 120%;
	width: 65%;
}

.popunjavanje_2 {
	font-size: 120%;
	width: 25%;
}

.slika1_2 {
	font-size: 120%;
}

.slika2_2 {
	font-size: 120%;
}

table {
	font-size: 120%;
}
}

.greska {
	font-size: 90%;
	color:red;
}

#slikaProsirena {
	height: 100%; 
	margin: 0%;
	padding: 0%;
}

#divProsirena {
	display: none;
	height: 100%;
	width: 100%;
	text-align: center;
    position: fixed;
	background-color: rgba(127, 127, 127, 0.8);
	z-index: 1;
}